$padding: 15px;
$borders: 15px;

$colors: (
        blue: #005DFF,
        blue-light: lighten(#005DFF, 40%),
        blue-dark: darken(#005DFF, 40%),
        btn-color: #FFF6BB,
        yellow-light: lighten(#FFF6BB, 40%),
        yellow-dark: darken(#FFF6BB, 40%),
        brown: #590606,
        brown-contrast: #F3EED9,
        brown-light: lighten(#590606, 15%),
        brown-dark: darken(#590606, 7%),
        sepia-bg: #F4ECD8,
        sepia-font: #5b4636
);

$desktop: 840px;

//$hover: (box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21), background: #eeeeee)
