$padding: 15px;
$borders: 15px;

$colors: (
        primary: #005DFF,
        primary-light: lighten(#005DFF, 40%),
        primary-dark: darken(#005DFF, 40%),
        btn-color: #FFF6BB,
        brown: #590606,
        brown-contrast: #F3EED9,
        brown-light: lighten(#590606, 40%),
        brown-dark: darken(#590606, 40%),
);

$desktop: 840px;

//$hover: (box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21), background: #eeeeee)
