@import '../libraries/_mixins.scss';
@import '../libraries/_functions.sass';
@import '../base/_variables.scss';

.blog-view-container {
  background: color(brown-dark);

  .section-a {
    color: red;
  }

  .section-b {
    color: greenyellow;
  }

  #top, #bottom, #left, #right {
    background: #a5ebff;
    position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 15px;
  }
  #left { left: 0; }
  #right { right: 0; }

  #top, #bottom {
    left: 0; right: 0;
    height: 15px;
  }
  #top { top: 0; }
  #bottom { bottom: 0; }

}

