@import '../libraries/_mixins.scss';
@import '../libraries/_functions.sass';
@import '../base/_variables.scss';

.document-view-container {

  height: auto;
  width: 100%;
  background: color(sepia-bg);
  color: color(sepia-font);
  font-family: Georgia, "Times New Roman", serif;

  h1 {
    padding: 20px;
  }

  // Borders
  .borders {
    #top, #bottom, #left, #right {
      background: color(brown-dark);
      position: fixed;
    }
    #left, #right {
      top: 0; bottom: 0;
      width: 10px;

      @include mobile {
        width: 6px;
      }
    }
    #left { left: 0; }
    #right { right: 0; }

    #top, #bottom {
      left: 0; right: 0;
      height: 10px;

      @include mobile {
        height: 6px;
      }
    }
    #top { top: 0; }
    #bottom { bottom: 0; }
  }

  // Book Icon
  #book-icon {
    color: color(brown);
    margin-left: 1em;
    font-weight: lighter;
    width: 60px;
    height: 60px;
    margin-top: 1em;
    cursor: pointer;
    opacity: 70%;

    &:hover {
      opacity: 100%;
    }
  }

  // Header
  header {
    text-align: center;

    @include mobile {
      padding: 0 40px 40px;
    }

    h1 {
      font-size: 3.6em;
      letter-spacing: 3px;
      line-height: 2em;
      font-weight: 300;

      @include mobile {
        font-size: 2.7rem;
        letter-spacing: 1.6px;
        line-height: 1em;
        padding-bottom: 1rem;
      }
    }

    h2 {
      display: inline-block;
      font-size: 2.6em;
      font-weight: lighter;

      @include mobile {
        font-size: 2.1rem;
      }
    }

    #diamond-header-icon {
      font-size: 25px;
      margin: 0 20px;
    }

    .subtitle {
      padding: 0 40px;
    }

  }

  // Back to top
    .btn-to-top {
      width: 2.7em;
      height: 2.7em;
      font-size: 22px;
      line-height: 22px;
      background: color(brown);
      opacity: 40%;

      &:hover {
        opacity: 80%;
      }

      @include mobile {
        width: 2.5em;
        height: 2.5em;
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        opacity: 30%;
      }
    }



  // Article
  article {
    margin: 10%;
    text-align: justify;

    @include mobile {
      margin: 6%;
      text-align: left;
    }

    p {
      font-size: 2rem;
      text-indent: 4rem;

      @include mobile {
        font-size: 1.7em;
        text-indent: 0rem;
      }
    }
  }

}

