@import '../libraries/_mixins.scss';
@import '../libraries/_functions.sass';
@import '../base/_variables.scss';

.document-view-container {

  background: color(sepia-bg);
  color: color(sepia-font);

  // Borders
  .borders {
    #top, #bottom, #left, #right {
      background: color(brown-dark);
      position: fixed;
    }
    #left, #right {
      top: 0; bottom: 0;
      width: 10px;
    }
    #left { left: 0; }
    #right { right: 0; }

    #top, #bottom {
      left: 0; right: 0;
      height: 10px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }
  }

  // Header
  header {
    h1 {
      margin: 1.5em;
      text-align: center;

      @include mobile {
        margin: 1em;
        font-size: 2rem;
      }
    }
  }

  // Article
  article {
    margin: 4em;
    text-align: justify;

    @include mobile {
      margin: 1.5em;
    }

    p {
      font-size: 1.6rem;
      text-indent: 4rem;

      @include mobile {
        font-size: 1.4rem;
        text-indent: 2rem;
      }
    }
  }

}

