@import '../libraries/_mixins.scss';
@import '../libraries/_functions.sass';
@import '../base/_variables.scss';

.document-view-container {

  // Borders
  #top, #bottom, #left, #right {
    background: color(brown-dark);
    position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 15px;
  }
  #left { left: 0; }
  #right { right: 0; }

  #top, #bottom {
    left: 0; right: 0;
    height: 15px;
  }
  #top { top: 0; }
  #bottom { bottom: 0; }

  // Header
  header {
    h1 {
      margin: 2em;
    }
  }

  // Article
  article {
    margin: 2em;
  }

}

