@import '../libraries/_mixins.scss';
@import '../libraries/_functions.sass';
@import '../base/_variables.scss';

.gallery-view-container {

  #gallery-navbar {
    background-color: color(brown);
    display: flex;

    #icon {
      flex: 1;
      padding-bottom: 0.7rem;

      a {
        color: white;
        &:hover {
          color: color(btn-color);
        }

        #book-icon {
          width: 60px;
          height: 60px;
          margin-left: 1em;
          font-weight: lighter;
          margin-top: 1em;
          cursor: pointer;

          @include mobile {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    #nav {
      padding-top: 1em;
      flex: 1;
      .navbar-nav .nav-link {
        color: white;
      }
    }
  }

  .gallery-card {
    z-index: 1;
    padding-top: 7em;
    //padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
