@import '../libraries/_mixins.scss';
@import '../libraries/_functions.sass';
@import '../base/_variables.scss';
@import './document';

.privacy-policy-view-container {
  padding: 3em 8em;
  font-size: 130%;
  color: color(sepia-font);

  h1 {
    padding-bottom: 1em;
    text-align: center;
  }

  strong{
    color: color(brown-dark);
    font-weight: normal;
  }

  h4 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: color(brown-dark);
  }

  .last-paragraph{
    padding-top: 2em;
  }
}
