@import '../libraries/_mixins.scss';
@import '../libraries/_functions.sass';
@import '../base/_variables.scss';
@import './document';

.privacy-policy-view-container {
  padding: 3em 8em;
  font-size: 130%;
  color: color(sepia-font);

  // Borders
  .borders {
    #top, #bottom, #left, #right {
      background: color(brown-dark);
      position: fixed;
    }
    #left, #right {
      top: 0; bottom: 0;
      width: 10px;

      @include mobile {
        width: 6px;
      }
    }
    #left { left: 0; }
    #right { right: 0; }

    #top, #bottom {
      left: 0; right: 0;
      height: 10px;

      @include mobile {
        height: 6px;
      }
    }
    #top { top: 0; }
    #bottom { bottom: 0; }
  }

  h1 {
    padding-bottom: 1em;
    text-align: center;
  }

  strong{
    color: color(brown-dark);
    font-weight: normal;
  }

  h4 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: color(brown-dark);
  }

  .last-paragraph{
    padding-top: 2em;
  }
}
